In [1]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('My name is '+name+'. My age is '+age)

What is your name? zakir
What is your age? 20
My name is zakir. My age is 20

In [2]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if(a==b):
  print('These numbers are equal')
else:
  print('These numbers are not equal')

These numbers are not equal

In [3]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if(a<b):
  print('First number is greater than second number')
elif(a==b):
  print('First number is equal to second number')
else:
  print('First number is less than second number')

First number is greater than second number

In [6]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [8]:
#Q5-Using while loop, print 5,4,3,2,1
for k in range(5,0,-1):
  print(k)

5
4
3
2
1

In [9]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.

for k in range(10,-1,-2):
  if(k!=8):
    print(k)

10
6
4
2
0

In [11]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))

def age(birth_year):
  return 2025-birth_year
print(age(2004))

21

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y
  def substraction(x,y):
    return x+y
  def multiplication(x,y):
    return x+y
  def division(x,y):
    return x+y
print(arithmetic.addition(3,4))
print(arithmetic.addition(3,4))
print(arithmetic.addition(3,4))
print(arithmetic.addition(3,4))

7

In [12]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)

def summation(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total

n = 4
print(summation(n))

10

In [14]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.

#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
import random
random_numbers = [random.random() for _ in range(10)]

number_list = random_numbers

print(number_list[:3])

[0.8582206646085385, 0.15788903793027553, 0.5475112815703511]

In [15]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
def print_divisible_by_3(n):
    for i in range(1, n + 1):
        if i % 3 == 0:
            print(i, end=", ")

n = int(input("Enter a number: "))
print_divisible_by_3(n)

Enter a number: 15
3, 6, 9, 12, 15,